<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="loginform">
        <h2>LOGIN</h2>
        <form action="/login" method="post">
        <div class="loginform">
            <input type="email" name="email" placeholder="enter email" required>
            <input type="password" name="password" placeholder="enter password" required>
            <button name="submit">submit</button>
        </div>
        <div class="loginform">
            <a href="/signup">create new account</a>
        </div>
        </form>
    </div>
</body>
</html>